html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.road,
.grass {
    height: 30vh;
}

.sky {
    height: 40vh;
}

.grass,
.road,
.sky {
    width: 100vw;
}
.sky {
    background-color: rgb(10, 199, 233);
}

.grass {
    background-color: green;
}
.grass img {
    width: 130px;
}

.road {
    position: relative;
    background-color: gray;
    height: 30vh;
    outline: border-top 4px solid rgb(248, 248, 248);
}

.cat {
    width: 50px !important;
}

.cat5 {
    margin-left: -110px;
    width: 45px !important;
    margin-bottom: 100px;
}

.dog {
    width: 65px !important;
}

.tennis {
    width: 140px !important;
    margin-left: -100px;
    margin-top: 15px;
    position: absolute;
}

.rabbit {
    width: 55px !important;
}

.football {
    width: 200px !important;
}

.teniss_player {
    position: absolute;
    width: 55px !important;
    margin-left: -30px;
    margin-top: -20px;
}
.football_player {
    width: 45px !important;
}

.family {
    width: 70px !important;
}

.ku {
    width: 40px !important;
}

.goose {
    width: 80px !important;
}

.walking1 {
    width: 40px !important;
}
.walking2 {
    width: 45px !important;
}

.walking3 {
    width: 40px !important;
}
.house2 {
    width: 170px !important;
}

.hotel {
    width: 170px !important;
}

.pig1 {
    width: 55px !important;
    margin-bottom: 105px;
}

.pig2 {
    margin-left: -110px;
    width: 55px !important;
    margin-bottom: 115px;
}

.road-lines {
    position: absolute;
    top: 50%;
    width: 100%;
    border-top: 5px dashed white;
}

.road img {
    width: 90px;
    position: absolute;
}

.sky img {
    width: 200px;
    animation-name: sunRotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.road img:nth-child(2) {
    top: 55%;
    animation-name: drive;
    animation-duration: 9.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.road img:nth-child(3) {
    top: 65%;
    animation-name: drive;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.road img:nth-child(4) {
    top: 25%;
    animation-name: drive;
    animation-duration: 7.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.road img:nth-child(5) {
    top: 0%;
    animation-name: drive;
    animation-duration: 35s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.road img:nth-child(6) {
    top: -10%;
    animation-name: drive;
    animation-duration: 45s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.road img:nth-child(7) {
    top: 0%;
    animation-name: drive;
    animation-duration: 35s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.road img:nth-child(8) {
    top: -110%;
    animation-name: driveHourse;
    animation-duration: 25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.road img:nth-child(9) {
    top: -10%;
    animation-name: drive;
    animation-duration: 70s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.road img:nth-child(10) {
    top: -10%;
    animation-name: drive;
    animation-duration: 140s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes drive {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(1900px);
    }
}

@keyframes driveHourse {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(1900px);
    }
}

@keyframes sunRotate {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
